<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{welcome}}</h1>
    {%for course in clist%}
    <p>{{forloop.counter}} {{course}}</p>
    {% endfor %}
    <br>
    <table border="2", cellpadding="10px">
        <tr>
            <th>Name</th>
            <th>Profession</th>
            <th>Residence</th>
            <th>Phone</th>
        </tr>
        {% for d in friends_details %}
        <tr>
            <td>{{d.name}}</td>
            <td>{{d.profession}}</td>
            <td>{{d.residence}}</td>
            <td>{{d.phone}}</td>
        </tr>
        {% endfor %}

    </table>
    
</body>
</html>